@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
padding:0px;
box-sizing: border-box;
margin: 0px;

}

:root{

--Red: hsl(0, 100%, 74%); 
--Green: hsl(154, 59%, 51%);
--Blue: hsl(248, 32%, 49%);
--Dark-Blue: hsl(249, 10%, 26%);
--Grayish-Blue: hsl(246, 25%, 77%);

}

body{

display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background-image:url(../images/bg-intro-mobile.png);
background-color: var(--Red);

}


.container{


font-family: 'Poppins', sans-serif;
padding: 29px;
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto auto;
padding-top: 243px;
justify-content: center;
align-items: center;
background-repeat: round;


}



.trial{

padding: 20px;
border-radius: 10px;
margin-top: 18px;
width: 88%;

}

h1{

color: white;
text-align: center;
font-size: 25px;
margin-bottom: 20px;

}

h2{
font-size: 16px;
text-align: center;
font-weight: 200;
color: white;
margin-bottom: 60px;

}

.formulario{

background-color: white;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.letrero{

background-color: var(--Blue);
border-radius: 10px;
text-align: center;
padding: 18px;
font-size: 15px;
margin-bottom: 25px;
box-shadow: 2px 5px 10px black;

}

.try{

color: white;
font-weight: 600;

}

.intenta{

padding: 0px 28px 0px 28px;

}

.boton{

background-color: transparent;
width: 88%;
padding: 20px;
border-radius: 6px;
margin-top: 15px;
border-style: solid;
border-color: lightgrey;
}

.terms{

font-size: 10px;
width: 88%;
text-align: center;
padding:10px 26px 26px 26px;
color: gray;
}

.trial{

background-color: var(--Green);
border-style: none;


}

.services{

color: var(--Red);
font-weight: 700;
}

.trial{

color: white;
font-size: 15px;
font-weight: 600;
}





.trial:hover{

background-color: green;
cursor: pointer;

}

.letrero:hover{

background-color: purple;
cursor: pointer;

}


.incorrecto{

color:red;

}

.correcto{

color: black;

}

.input_error_usuario{

font-size: 10px;
color: red;
display: none;
margin-left: 21px;
}

.input_error-activo{
display: block;

}

.input_error_apellido{

    display: none;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: red;
    padding-top: 20px;
    font-size: 12px;
}


@media only screen and (min-width: 1000px){

    .container{

        background-color: var(--Red);
        font-family: 'Poppins', sans-serif;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 89px 468px;
        background-image:url(../images/bg-intro-mobile.png);
        background-repeat: round;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
       
        
        
        }
      .formulario{

        grid-column-start: 2;
        grid-column-end: 3;
      }


      .titulos{
        grid-row: 1/3;
        align-items: center;
        justify-content: center;
        padding:98px;
        
      }

      .letrero{
        margin-bottom: 0px;
        margin-right: 140px;
      
        
      }

      .aprender{
        font-size: 47px;
        text-align: start;
      }

      .experiencias{
        text-align: start;
      }

    .formulario{
        margin-right: 140px;
    }

    body{

        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 100vh;
       
    }

}